table thead tr th {
	font-family: 'brandingmedium';
	background: #36304a;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border: solid #fff 1px;
}

.casual {
	font-family: 'brandingmedium';
	text-align: center;
}


table td, table th {
    padding: 13px 0px !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 15px;
    font-weight: 300;
    border-left: 1px solid #F2F2F2;
    text-align: center;
    width: 182px;
    font-size: 14px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    margin: auto;
    display: block;
}

.t-info {
	 font-family: 'brandingsemibold';
	text-transform: uppercase;

}

h2 {
    font-family: 'brandingbold' !important;
    text-align: center;
    line-height: 65px !important;
}

.img-logo {
	width: 15%;
	margin: auto;
	display: block;
}

table
{
	width: 100%;
	border-collapse: collapse;
}

thead
{
	display: block;
	width: 100%;
	overflow: auto;
	color: #fff;
}

tbody
{
	display: block;
	width: 1300px;
	height: 400px;
	overflow: auto;
}

th,td
{
	padding: .5em 1em;
	text-align: left;
	vertical-align: top;
	border-left: 1px solid #fff;
}